
{% load static %}
{% include 'header.html' %}


  <!-- Top  Section -->
    <section class="services">
        <img src="{% static 'images/about.png' %}" alt="Physiotherapy Banner">
        <div class="services-text">
            <h1>Our Services</h1>
      <p>
        <a href="#">Home</a> /
        <a href="#">Pages</a> /
        <span class="active">Services</span>
      </p>
        </div>
    </section>

          <div class="first-page">         
          <div class="container py-5 text-center">
            <div class="double-line">
            </div>
            <h4 class="sec-subtitle">WHAT WE DO</h4>
            <h1 class="sec-title"> Our Service Given Physio Therapy <br> By Expert.</h1>
            <p class="section-desc"><i class="fa-solid fa-stethoscope"></i>At PhysioCare, we provide expert physiotherapy services tailored to your unique needs. Our treatments focus on reducing pain, improving mobility, and restoring overall health. With advanced techniques and compassionate care, our certified therapists are committed to helping you recover faster and regain strength. Whether you’re healing from an injury, managing a chronic condition, or aiming for a healthier lifestyle, we are here to guide you every step of the way. <p>
          </div>

    <div class="services-grid">
      <div class="service-items">
        <img src="{% static 'images/service img1.png' %}" alt="Physical Rehabilitation Therapy">
        <div class="service-content">
          <h3>Physical Rehabilitation Therapy</h3>
          <p>Physical rehabilitation therapy restores movement and function after injury through exercises and techniques.</p>
          <a href="{% url 'Contactus' %}" class="read-more">Contact Us</a>
        </div>
      </div>

      <div class="service-items">
        <img src="{% static 'images/service img2.png' %}" alt="Manual Physioherapy">
        <div class="service-content">
          <h3>Manual Physio Therapy</h3>
          <p>Manual physiotherapy uses hands-on techniques to relieve pain, improve mobility, and restore function.</p>
          <a href="{% url 'Contactus' %}" class="read-more">Contact Us</a>
        </div>
      </div>

      <div class="service-items">
        <img src="{% static 'images/image5.png' %}" alt="Deep Tissue Therapy">
        <div class="service-content">
          <h3>Deep Tissue Therapy</h3>
          <p>Deep tissue therapy targets deeper muscle layers to relieve tension, improve mobility, and promote recovery.</p>
          <a href="{% url 'Contactus' %}" class="read-more">Contact Us</a>
        </div>
        </div>

        <div class="service-items">
        <img src="{% static 'images/service img3.png' %}" alt="Orthotic Therapy">
        <div class="service-content">
          <h3>Orthotic Therapy</h3>
          <p>Orthotic therapy uses custom devices to support, align, or correct posture and improve movement efficiency.</p>
          <a href="{% url 'Contactus' %}" class="read-more">Contact Us</a>
           </div>
        </div>


      <div class="service-items">
        <img src="{% static 'images/image3.png' %}" alt="Massage Therapy">
        <div class="service-content">
          <h3>Massage Therapy</h3>
          <p>Massage therapy uses manual pressure and movements to relax muscles, reduce pain, and improve blood circulation.</p>
          <a href="{% url 'Contactus' %}" class="read-more">Contact Us</a>
        </div>
        </div>

        <div class="service-items">
        <img src="{% static 'images/service img.png' %}" alt="Electro Therapy">
        <div class="service-content">
          <h3>Electro Therapy</h3>
          <p>Electrotherapy uses controlled electrical currents to reduce pain, stimulate muscles, and speed up healing.</p>
          <a href="{% url 'Contactus' %}" class="read-more">Contact Us</a>
        </div>
        </div>
        <div class="service-items">
        <img src="{% static 'images/exercise img.png' %}" alt="Deep Tissue Therapy">
        <div class="service-content">
          <h3>Exercise Therapy</h3>
          <p>Exercise therapy uses targeted movements to restore strength, flexibility, and overall physical function.</p>
          <a href="{% url 'Contactus' %}" class="read-more">Contact Us</a>
        </div>
        </div>

        <div class="service-items">
        <img src="{% static 'images/prt img.png' %}" alt="Physical Rehabilitation Therapy">
        <div class="service-content">
          <h3>Physical Rehabilitation Therapy</h3>
          <p>Physical rehabilitation therapy restores movement and function after injury through exercises and techniques.</p>
          <a href="{% url 'Contactus' %}" class="read-more">Contact Us</a>
        </div>
        </div>

        <div class="service-items">
        <img src="{% static 'images/services9.png' %}" alt="Physical Rehabilitation Therapy">
        <div class="service-content">
          <h3>Neurological Physiotherapy</h3>
          <p>Stroke rehabilitation, spinal cord injury, Parkinson's disease, multiple sclerosis.</p>
          <a href="{% url 'Contactus' %}" class="read-more">Contact Us</a>
        </div>
        </div>
      

        <div class="service-items">
        <img src="{% static 'images/services10.png' %}" alt="Physical Rehabilitation Therapy">
        <div class="service-content">
          <h3>Women's Health Physiotherapy</h3>
          <p>Prenatal & postnatal exercises, pelvic floor rehabilitation.</p>
          <a href="{% url 'Contactus' %}" class="read-more">Contact Us</a>
        </div>
        </div>

        <div class="service-items">
        <img src="{% static 'images/service11.png' %}" alt="Physical Rehabilitation Therapy">
        <div class="service-content">
          <h3>Cardio-Pulmonary Physiotherapy</h3>
          <p>Recovery after heart surgery, breathing exercises, COPD management.</p>
          <a href="{% url 'Contactus' %}" class="read-more">Contact Us</a>
        </div>
        </div>

        <div class="service-items">
        <img src="{% static 'images/service12.png' %}" alt="Physical Rehabilitation Therapy">
        <div class="service-content">
          <h3>Hydrotherapy (Water Therapy)</h3>
          <p>Water-based exercises for arthritis and rehabilitation.</p>
          <a href="{% url 'Contactus' %}" class="read-more">Contact Us</a>
        </div>
        </div>
      </div>


{% include 'footer.html' %}
