{% load static %}
{% include 'header.html' %}


    <!-- Top  Section -->
    <section class="about-us">
        <img src="{% static 'images/about.png' %}" alt="Physiotherapy Banner">
        <div class="about-text">
            <h1>Team Member</h1>
      <p>
        <a href="#">Home</a> /
        <a href="#">Pages</a> /
        <span class="active">Team</span>
      </p>
        </div>
    </section>

    <section class="team-section">
  <div class="team-header2">
    <span class="our-team">OUR SPECIALIST</span>
    <h1>"Skilled care for pain <br>relief & recovery".</h1>
    <p>
      Our team of experienced physiotherapists uses personalized treatment plans to help you recover quickly and safely. We focus on restoring mobility, reducing pain, and improving overall wellness for patients of all ages.
    </p>
  </div>
  </section>

   <section class="team-section-unique">
  <!-- Left Side Doctor -->
  <div class="team-box-unique left-box-unique">
    <div class="doctor-details-unique">
      <h3>Dr. Priya Nair</h3>
       <p class="degree">BPT, MPT</p>
      <p>Massage Therapist</p>
      <p>Experience: 10 Years</p>
    </div>
    <div class="doctor-img-unique">
      <img src="{% static 'images/doctor1.png' %}" alt="Doctor 1">
    </div>
  </div>

  <!-- Right Side Doctor -->
  <div class="team-box-unique right-box-unique">
    <div class="doctor-img-right">
      <img src="{% static 'images/doctor5.png' %}" alt="Doctor 2">
    </div>
    <div class="doctor-details-right">
      <h3>Dr. Neha Patel</h3>
       <p class="degree">BPT, MPT (Women's Health)</p>
      <p>Women's Health Physiotherapy</p>
      <p>Experience: 6 Years</p>
    </div>
  </div>

  <!-- Left Side Doctor -->
  <div class="team-box-unique left-box-unique">
    <div class="doctor-details-unique">
      <h3>Dr. Farah Ansari</h3>
       <p class="degree">BPT, MPT (Neuro)</p>
      <p>Neurological Physiotherapy</p>
      <p>Experience: 4 Years</p>
    </div>
    <div class="doctor-img-unique">
      <img src="{% static 'images/doctor6.png' %}" alt="Doctor 3">
    </div>
  </div>

  <!-- Right Side Doctor -->
 <div class="team-box-unique right-box-unique">
    <div class="doctor-img-right">
      <img src="{% static 'images/doctor7.png' %}" alt="Doctor 2">
    </div>
    <div class="doctor-details-right">
      <h3>Dr. Arjun Sharma</h3>
       <p class="degree">BPT, MPT (Pediatrics)</p>
      <p>Pediatric Physiotherapy</p>
      <p>Experience: 13 Years</p>
    </div>
  </div>
  <!-- Left Side Doctor -->
  <div class="team-box-unique left-box-unique">
    <div class="doctor-details-unique">
      <h3>Meera Kapoor</h3>
       <p class="degree">BPT, MPT (Sports)</p>
      <p>Sports Physiotherapy</p>
      <p>Experience: 9 Years</p>
    </div>
    <div class="doctor-img-unique">
      <img src="{% static 'images/doctor8.png' %}" alt="Doctor 3">
    </div>
  </div>

   <!-- Right Side Doctor -->
 <div class="team-box-unique right-box-unique">
    <div class="doctor-img-right">
      <img src="{% static 'images/doctor9.png' %}" alt="Doctor 2">
    </div>
    <div class="doctor-details-right">
      <h3>Dr. Anil Joshi</h3>
       <p class="degree">MBBS, MS (Ortho)</p>
      <p>Orthopedic Specialist</p>
      <p>Experience: 8 Years</p>
    </div>
  </div>
  <!-- Left Side Doctor -->
  <div class="team-box-unique left-box-unique">
    <div class="doctor-details-unique">
      <h3>Dr. Ayesha Thapa</h3>
       <p class="degree">BPT, MPT (MSK)</p>
      <p>Musculoskeletal Physiotherapy</p>
      <p>Experience: 5 Years</p>
    </div>
    <div class="doctor-img-unique">
      <img src="{% static 'images/doctor10.png' %}" alt="Doctor 3">
    </div>
  </div>

  <!-- Right Side Doctor -->
 <div class="team-box-unique right-box-unique">
    <div class="doctor-img-right">
      <img src="{% static 'images/doctor4.png' %}" alt="Doctor 2">
    </div>
    <div class="doctor-details-right">
      <h3>Dr. Ragini Kumari</h3>
       <p class="degree">MBBS,MPT</p>
      <p>Senior Physiotherapist</p>
      <p>Experience: 14 Years</p>
    </div>
  </div>
</section>

{% include 'footer.html' %}


